@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: #6a3488;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 45px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

nav a:hover {
  color: #feb970;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background: #feb970;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navigation {
  position: fixed;
  margin-top: 10%;
  width: 200px;
  height: 215px;
  background: #feb970;
  border-radius: 5%;
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 10%;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: left;
}

.navigation a:hover {
  color: black;
  transition: 0.3s;
}

b {
  color: #feb970;
}

#introduction-card {
  margin-top: 5%;
}

.main-card {
  background-color: #4a1d63;
  margin-left: 15%;
  text-align: center;
}

.main-card hr {
  border: 0.5px solid black;
  margin: 1% 4%;
}

.project-name {
  font-weight: bold;
  text-decoration: underline;
}

.move-left iframe {
  float: left;
  width: 40%;
  margin-left: 50px;
  border-radius: 5%;
}

.move-left img {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 2%;
}

#timeline-impact .move-left img {
  height: 500px;
  width: 40%;
}

#drama-desc .move-left img {
  height: 350px;
  width: 35%;
}

#drama-impact .move-left img {
  width: 35%;
  margin-bottom: 20px;
}

.move-right p {
  float: right;
  width: 50%;
  margin-right: 50px;
  margin-top: 0;
}

#drama-desc .move-right p {
  width: 55%;
  margin-left: 0;
}

#drama-impact .move-right p {
  width: 55%;
}

.paragraph-link {
  color: gray;
  text-decoration: none;
}

.paragraph-link:hover {
  transition: 0.3s;
  color: #feb970;
  text-decoration: underline;
}

#drama-desc hr {
  margin: 50px 50px 25px 50px;
}

#money-desc .move-left img {
  height: 300px;
  width: 35%;
}

#money-desc .move-right p {
  width: 55%;
  margin-left: 0;
}

#money-impact .move-left img {
  width: 35%;
  margin-bottom: 20px;
}

#money-impact .move-right p {
  width: 55%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

footer p {
  background: #4a1d63;
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 5px 0;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: #feb970;
  transition: 0.3s;
}
