@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  background-color: lightblue;
}

body {
  margin: 0px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

#main-logo {
  color: black;
  font-size: 40px;
  float: left;
}

nav {
  float: right;
  font-family: "Courier New", Courier, monospace;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 45px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background: white;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navigation {
  position: fixed;
  margin-top: 10%;
  width: 200px;
  height: 215px;
  background: #818d92;
  border-radius: 5%;
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 10%;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: left;
}

.navigation a:hover {
  color: black;
  transition: 0.3s;
}

#contact h1 {
  text-align: center;
}
input[type="text"] {
  height: 25px;
  width: 350px;
  border-radius: 10px;
  margin-left: 10px;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

#submitbutton {
  background-color: white;
  border-radius: 5px;
}

#submitbutton:hover {
  transition: 0.2s;
  box-shadow: 3px 3px 5px gray;
}

#error {
  color: red;
}

footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}

footer p {
  background: lightskyblue;
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 5px 0;
}

footer a {
  text-decoration: none;
  color: black;
  background: lightskyblue;
}

footer a:hover {
  text-decoration: underline;
  color: white;
  transition: 0.3s;
}
