@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --main-bg-color: #130C2D;
  --secondary-color: #420E64;
  --tertiary-color: #F0A202;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
  background-color: var(--main-bg-color);
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 45px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

nav a:hover {
  color: var(--tertiary-color);
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background: var(--tertiary-color);
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.section-body {
  text-align: center;
  background: var(--secondary-color);
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  margin-top: 5%;
}

.move-left {
  width: 25%;
  margin: 2%;
  margin-left: 5%;
  margin-top: 3%;
}

img{
  border-radius: 3%;
}

section{
  margin-right: 10%;
  margin-left: 5%;
}

.move-right {
  float: right;
  width: 68%;
}

.move-right h1{
  font-size: 300%;
  margin-bottom: 2%;
}

.container h1 {
  text-align: center;
  font-weight: bold;
}

.move-right p{
  margin-top: 0;
}

i{
  font-size: 25px;
  margin-right: 15px;
  color: white;
}

i:hover{
  color: var(--tertiary-color);
  transition: 0.3s;
}

.move-right a{
  text-decoration: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  display: table-row;
  height: 0;
}

footer p {
  background: #420E64;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 5px 0;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: var(--tertiary-color);
  transition: 0.3s;
}

@media (max-width: 1250px){
  img{
    height:0;
  }
  .move-right{
    float: left;
  }
  .move-right p{
    margin:0;
    width:150%;
  }
  .move-left{
    width: 0;
  }
}
