@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-bg-color: #130C2D;
  --secondary-color: #420E64;
  --tertiary-color: #F0A202;
}

html{
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
  background-color: var(--main-bg-color);
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 45px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

nav a:hover {
  color: var(--tertiary-color);
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background: var(--tertiary-color);
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navigation {
  position: fixed;
  margin-top: 10%;
  width: 200px;
  height: 280px;
  background: var(--tertiary-color);
  border-radius: 5%;
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 10%;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  text-align: left;
}

.navigation a:hover {
  color: black;
  transition: 0.3s;
}

.starting-header {
    margin-top: 50px;
    /* border-start-start-radius: 10px;
    border-start-end-radius: 10px; */
}

.container h1{
    display: flex;
    justify-content: center;
    color: #feb970
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.individual-image{
    display: flex;
    justify-content: center;
}

.individual-image img{
    height:1000px;
    width:900px;
    border-radius: 5%;
}

.container hr{
    margin-top: 2%;
    border: 0.5px solid var(--tertiary-color);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
  }
  
  footer p {
    background: var(--secondary-color);
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #feb970;
    transition: 0.3s;
  }

  @media (max-width: 2250px){
    .individual-image img{
        width: 500px;
        height: 600px;
    }
    .navigation{
      width: 170px;
      height: 255px;
    }
  }